@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

pre {
    padding: 10px;
    border-radius: 0px;
    margin: 0 auto;
    max-width: 700px;
}

.wrap {
    color: #fff;
    font-size: 'roboto mono', monospace;
    font-size: 13px;
    left: 1.4em;
}

.chord {
    color: #fff;
    border-radius: 2px;
    cursor: default;
    display: inline-block;
    font-weight: 700;
    margin: -0.1em -0.5em -0.15em;
    padding: 0.1em 0.5em 0.15em;
    position: relative;
    font-size: 13px;
    font-family: "Roboto Mono", "Courier New", monospace;
}
.chord::after {
    background: currentColor;
    border-radius: 2px;
    bottom: 0.2em;
    content: "";
    display: block;
    left: 0.25em;
    opacity: .1;
    position: absolute;
    right: 0.25em;
    top: 0.2em;
}